<!DOCTYPE html>
<html>
    <head>
        <title>About Me Quiz</title>
    </head>
    
    <body> 
            <h1>How well do you know me?</h1>
            
            <form method="POST" action="/results">
            
            <h2>Whats my favorite color?</h2>
            <input type="radio" name="color" value="10">"Pink"<br>
            <input type="radio" name="color" value="5">"Blue"<br>
            <input type="radio" name="color" value="0">"Purple"<br>
            
            <h2>Where was I born?</h2>
            <input type="radio" name="hometown" value="0">"Dallas"<br>
            <input type="radio" name="hometown" value="5">"Austin"<br>
            <input type="radio" name="hometown" value="10">"Harlingen"<br>
            
            <h2>If I had to choose my last meal what would it be?</h2>
           <input type="radio" name="last_meal" value="5">"Olive Garden"<br>
           <input type="radio" name="last_meal" value="0">"Dominos"<br>
           <input type="radio" name="last_meal" value="10">"Easy to go tacos #6"<br>
        
            <h2>What is my favorite animal?</h2>
           <input type="radio" name="fav_animal" value="10">"Pigs"<br>
           <input type="radio" name="fav_animal" value="5">"Elephants"<br>
           <input type="radio" name="fav_animal" value="0">"Lions"<br>
                
                
            </form>
            
      </body>
</html>